resources:
  repositories:
    - repository: coretemplate
      type: git
      name: WizPipelines/core-template

extends:
  template: main.yml@coretemplate
  parameters:
    technology: 'dotnetcore'
    azResourceName: 'TO DO eg. customer'
    azWebAppNameUAT: 'TO DO eg. api-customer-hml'
    azWebAppNamePRD: 'TO DO eg. api-customer-prd'
    azSubscriptionUAT: 'TO DO'
    azSubscriptionPRD: 'TO DO'
    dotnetcoreDotNetVersion: '3.x'
    dotnetcoreBuildProject: '**/*[API].csproj'
    dotnetcoreBuildConfiguration: Release
    dotnetcoreTestProject: '**/*[Tt]ests/*.csproj'
    dotnetcoreNugetFeed: 00000000-0000-0000-0000-000000000000
    instrumentationKey: "00000000-0000-0000-0000-000000000000"
