CREATE DATABASE ExampleDB
GO

USE [ExampleDB]
GO
/****** Object:  Table [dbo].[Example]    Script Date: 08/03/2022 18:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Example](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[TemperatureC] [int] NULL,
	[TemperatureF] [int] NULL,
	[Summary] [varchar](50) NULL,
 CONSTRAINT [PK_Example] PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
